* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li,ul,ol {
  list-style: none;
}

.list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.list__item{
  min-width: 250px;
  min-height: 250px;
  padding: 30px 10px 30px 10px;
  background-color: antiquewhite;
  text-align: center;
  margin: 20px;
}
.list__btn{
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  background-color: orangered;
  align-self: center;
  margin: 20px 0;
}